{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
<div class="container is-fluid">
    <div class="columns">
        <div class="column is-half">
            <div style="padding-top: 48px;"></div>
            <h1 class="title home-title">That's right. HackBeast is the modern day Cybersecurity <span class="typewrite" style="color: #4287f5 !important;" data-period="1200" data-type='[ "forum.", "playground.", "social platform.", "club.", "masterclass." ]'></span></h1>
            <div style="padding-top: 25px;"></div>
            <p class="subtitle has-text-white">The number one hacking resource platform to hang out, share knowledge, and learn new things.</p>
            <a href="#" class="button is-info one is-outlined btn-round">Learn more</a>
        </div>
        <div class="column auto">
            <div class="box round main has-text-white">
                <img src="https://picsum.photos/800/300/?random" class="box-img" alt="">
                <h1 class="title box-mb">Hackers work in the <span style="text-decoration:underline;">dark</span>.</h1>
                <p class="has-text-white box-mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                <a href="#" class="button is-info one btn-round">Register</a>
            </div>
        </div>
    </div>
    <div style="padding-top: 64px;"></div>
    <div class="columns">
        <div class="column is-half">
            <div class="box round main has-text-white">
                <img src="http://hackershaven.eu/images/cover.png" class="box-img" alt="">
                <h1 class="title box-mb">For readers</h1>
                <p class="has-text-white box-mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                <a href="#" class="button is-info one btn-round">Register</a>
            </div>
        </div>
        <div class="column auto">
            <div style="padding-top: 48px;"></div>
            <h1 class="title home-title">Learn <span style="color:#4287f5;text-decoration:underline;">Python</span> from the most powerful intelligence agency.</h1>
            <div style="padding-top: 25px;"></div>
            <p class="subtitle has-text-white">The U.S. National Security Agency (NSA) declassified their 400-page printout of their Python COMP 3321 training course used to train their agents.</p>
            <p class="subtitle has-text-white">Python is widely used in Cybersecurity operations. Get to know what they know.</span></p>
            <a href="#" class="button is-info one is-outlined btn-round">Check it out</a>
        </div>
    </div>
</div>
{% endblock %}