{% extends 'base.html' %}

{% block head %}
    <title>Post</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                        </figure>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p class="par title is-4">{{data[0][5]}}</p>
                            <span>
                                <small>
                                    By <a href="#">@{{data[0][0]}}
                                    {% if data[0][1] == 1 %}
                                        <span class="bi bi-patch-check is-verified"></span>
                                    {% endif %}
                                    {% if data[0][2] == 1 %}
                                        <span class="modtext">[mod]</span>
                                    {% endif %}
                                </a>
                                <span id="time"> - {{get_post_time(data[0][7])}}</span></small>
                            </span>
                        </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" aria-label="share">
                                        <span class="bi bi-share"></span>
                                    </a>
                                    <a class="level-item" aria-label="comment">
                                        <span id="comms-0" class="bi bi-chat">&nbsp;36</span>
                                    </a>
                                    <a class="level-item" aria-label="like">
                                        {% if session['id'] %}
                                            {% if data[2][0]|int == 1 %}
                                                <span id="like-0" class="bi bi-hand-thumbs-up-fill">&nbsp;{{data[1][0]}}</span>
                                            {% else %}
                                                <span id="like-0" class="bi bi-hand-thumbs-up">&nbsp;{{data[1][0]}}</span>
                                            {% endif %}
                                        {% else %}
                                            <span onclick="alert('Gotta login to do that.');" class="bi bi-hand-thumbs-up">&nbsp;{{data[1][0]}}</span>
                                        {% endif %}
                                    </a>
                                </div>
                            </nav>
                            <p>
                                <!--if [code] is in the data[6], then wrap the text inside it as <pre> until [/code]-->
                                {% if '[code]' in data[0][6] %}
                                    {% set code = data[0][6].split('[code]') %}
                                    {{code[0]}}
                                    <pre class="prettyprint" style="margin-top:15px;margin-bottom:15px;resize:vertical;overflow:auto;">{{code[1].split('[/code]')[0]}}</pre>
                                    {{code[1].split('[/code]')[1]}}
                                {% else %}
                                    {{data[0][6]}}
                                {% endif %}
                            </p>
                        </div>
                    </article>
                    <div style="padding-top: 25px;"></div>
                </div>
                
                <div id="comms-1" class="box round">
                    <p class="par title is-4"><span class="bi bi-chat"></span>&nbsp;22 Comments</p>
                    <div style="padding-top: 15px;"></div>
                    <div id="comment-box">
                        <article class="media">

                            <figure class="media-left">
                              <p class="image is-64x64">
                                <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][3]}}">
                              </p>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                <p>
                                    <strong>Barbara Middleton</strong>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                    <br>
                                    <small>
                                        <a href="#" aria-label="like"><span class="bi bi-hand-thumbs-up"></span>&nbsp;2192</a> · 
                                        <a>Reply</a>
                                        <span> · 2yr</span>
                                    </small>
                                </p>
                              </div>
                          
                              <article class="media">
                                <figure class="media-left">
                                  <p class="image is-48x48">
                                    <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                                  </p>
                                </figure>
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                        <strong>Sean Brown</strong>
                                        <small> · 16 d</small>
                                        <br>Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.<br>
                                    </p>
                                  </div>
                              </article>
                          
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Kayli Eunice </strong>
                                                <small> · 3 hrs</small>
                                                <br>Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.<br>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </article>
                        
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://hackershaven.eu/images/hackeast.png" class="is-sway" alt="{{data[0][0]}}">
                                </p>
                            </figure>
                            <div class="media-content">
                              <div class="field">
                                <p class="control">
                                    {% if session.token %}
                                        <textarea class="textarea btn-round2" name="content" placeholder="Reply as @{{session.uname}}" rows="4" minlength="1" maxlength="600" required></textarea>
                                    {% else %}
                                        <textarea class="textarea btn-round2" name="content" placeholder="Login to comment.." rows="4" minlength="1" maxlength="600" disabled required></textarea>
                                    {% endif %}
                                </p>
                              </div>
                            </div>
                        </article>
                    </div>
                    <div style="padding-top: 25px;"></div>
                    <span id="reply-0" class="button is-info one btn-round is-pulled-right is-fixed-top"><span class="bi bi-reply"></span>&nbsp;Reply</span>
                </div>
                
            </div>
            <div class="column"></div>
        </div>
    </div>
    <script>
        function change_num_of_likes(add_or_remove) {
            var likes = parseInt($('#like-0').text());
            if (add_or_remove == "add") {
                $('#like-0').html("&nbsp;" + (likes + 1));
            } else {
                $('#like-0').html("&nbsp;" + (likes - 1));
            }
        }
        $(document).ready(function() {
            var not_filled = "bi-hand-thumbs-up";
            var fill = "bi-hand-thumbs-up-fill";
            $('#like-0').on('click', function(e) {
                if ($(this).hasClass(fill)) {
                    $(this).removeClass(fill);
                    $(this).addClass(not_filled);
                    change_num_of_likes();
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/2/u',
                        type: 'POST',
                        data: {
                            'usmcngzyznoy': '🤔'
                        }
                    });
                } else {
                    $(this).removeClass(not_filled);
                    $(this).addClass(fill);
                    change_num_of_likes("add");
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/2/l',
                        type: 'POST',
                        data: {
                            'usmcngzyznoy': '🤔'
                        }
                    });
                }
            });
            $('#reply-0').on('click', function(e) {
                e.preventDefault();
                var content = $('textarea[name="content"]').val();
                if (content.length > 0) {
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/3/c',
                        type: 'POST',
                        data: {
                            'content': content
                        },
                        success: function(data) {
                            if (data == "OK") {
                                $('textarea[name="content"]').val("");
                                $('#comms-0').click();
                                // add comment to page
                                var comment = `
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <img src="{{session.ppic}}" class="is-sway" alt="{{session.uname}}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>{{session.uname}}</strong>
                                            <br>
                                            ` + content + `
                                            <br>
                                            <small>
                                                <a href="#" aria-label="like"><span class="bi bi-hand-thumbs-up"></span>&nbsp;2192</a> · 
                                                <a>Reply</a>
                                                <span> · Just Now</span>
                                            </small>
                                        </p>
                                    </div>
                                </article>`;
                                $('#comment-box').prepend(comment);
                            }
                        }
                    });
                }
            });
            // smooth scroll to anchor
            $('#comms-0').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $('#comms-1').offset().top
                }, 800);
            });
        });
    </script>
{% endblock %}