{% extends 'base.html' %}

{% block head %}
    <title>@{{data[1]}}'s Profile</title>
    <style>
        .hoverdiv{
            position: absolute;
            z-index: 1;
            display: none;
            top: 0px;
            left: 0px;
            text-align: center;
            font-size: 24px;
            height: 64px;
            width: 100%;
            border-radius: 15px;
            background-color: gainsboro;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if session['id'] %}
                                    {% if session['uname'] == data[1] %}
                                        <a href="" id="open-pfp-modal">
                                            <div class="imgcontain">
                                                <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                                <div class="hoverdiv">
                                                    <div style="padding-top: 16px;">
                                                        <strong><span class="bi bi-pencil"></span></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </a><br />
                                    {% else %}
                                        <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                    {% endif %}
                                {% else %}
                                    <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content" style="overflow: hidden;">
                            <div class="content">
                                <p class="par title is-4">
                                    <a href="/profile/{{data[1]}}">@{{data[1]}}
                                    {% if data[3] == 1 %}
                                        <span class="bi bi-patch-check is-verified" style="font-size: 18px !important;"></span>
                                    {% endif %}
                                    {% if data[4] == 1 %}
                                        <span class="modtext">[mod]</span>
                                    {% endif %}</a>
                                </p>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="columns is-mobile">
                                        {% if data[7]|length > 1 %}
                                            <div class="column is-1">
                                                <a href="https://www.instagram.com/{{data[7]}}/" target="_blank"><span class="bi bi-instagram"></span></a>
                                            </div>
                                        {% endif %}
                                        {% if data[8]|length > 1 %}
                                            <div class="column is-1">
                                                <a href="https://twitter.com/{{data[8]}}/" target="_blank"><span class="bi bi-twitter"></span></a>
                                            </div>
                                        {% endif %}
                                        {% if data[9]|length > 1 %}
                                            <div class="column is-1">
                                                <a href="https://github.com/{{data[9]}}/" target="_blank"><span class="bi bi-github"></span></a>
                                            </div>
                                        {% endif %}
                                        {% if data[10]|length > 1 %}
                                            <div class="column is-1">
                                                <a href="{{data[10]}}" target="_blank"><span class="bi bi-linkedin"></span></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <p>
                                        <strong>Bio:</strong> {{data[5]}}
                                    </p>
                                </div>
                                <div class="column">
                                    <p>
                                        {% if data[11] == 1 %}
                                            <span class="tag is-danger">This account has been banned.</span><br />
                                        {% endif %}
                                        {% if data[3] == 1 %}
                                            This account is <a href="#" style="text-decoration: underline;">verified</a> <span class="bi bi-patch-check is-verified"></span><br />
                                        {% endif %} 
                                        {% if data[4] == 1 %}
                                            This is a <span class="modtext"><a href="#"style="text-decoration: underline; color: #fc0547;">[moderator]</a></span> account.<br />
                                        {% endif %}
                                        {{data[1]}} has made {{stats[0][0]}} post(s).<br />
                                        <strong>Joined:</strong> {{data[6]|string}}.
                                    </p>
                                </div>
                            </div>
                            {% if session['id'] %}
                                {% if session['uname'] == data[1] %}
                                    <hr />
                                    <div class="columns">
                                        <div class="column">
                                            <a href="" id="open-edit-profile-modal"><span class="bi bi-pencil" style="font-size: 13px;"></span> Edit profile</a><br />
                                            <small style="font-size:11px;">Your profile and changes will be visible to everyone.</small>
                                        </div>
                                        <div class="column">
                                            <a href="" id="open-settings-modal"><span class="bi bi-gear" style="font-size: 13px;"></span> Settings</a><br />
                                            <small style="font-size:11px;">Review the settings to your account here.</small>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </article>
                    <div style="padding-top: 25px;"></div>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>

    <!-- settings modal -->
    <div id="settings-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box round">
                <p><strong>Settings</strong></p>
                <small>Click 'Save changes' to update your account settings.</small><br />
                
                <div style="padding-top: 15px;"></div>
                <div class="buttons is-right">
                    <button class="button is-danger one btn-round is-fixed-top" type="submit">Save changes</button>
                    <a id="close-settings-modal" class="button is-info one btn-round is-fixed-top">Cancel</a>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" id="close-settings-modal"></button>
    </div>

    <!-- pfp modal -->
    <div id="pfp-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box round">
                <p><strong>Update your profile picture</strong></p>
                <small>Image size limit: 1MB</small><br />

                <form id="pfp-form" method="POST" enctype="multipart/form-data">
                    <img id="preview" width="128px" height="128px"><br />
                    <input type="file" name="file" id="file" accept=".jpeg,.jpg,.png,.gif" onchange="previewImage();">
                    <div style="padding-top: 15px;"></div>
                    <div class="buttons is-right">
                        <button class="button is-danger one btn-round is-fixed-top" type="submit">Save changes</button>
                        <a id="close-pfp-modal" class="button is-info one btn-round is-fixed-top">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- edit profile modal -->
    <div id="edit-profile-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box round">
                <p><strong>Edit your profile</strong></p>
                <small>Click 'Save changes' to update your profile details.</small><br />
                <div style="padding-top: 15px;"></div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input id="uname" class="input" type="text" placeholder="Username" minlength="4" maxlength="16" pattern="^[a-zA-Z0-9]+$" title="Lower case letters and/or numbers" value="{{data[1]}}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Bio</label>
                            <div class="control">
                                <textarea id="bio" class="textarea" placeholder="Some things about yourself.." maxlength="200">{{data[5]}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Instagram Handle <span class="bi bi-instagram"></span></label>
                            <div class="control">
                                <input id="insta" class="input" type="text" placeholder="E.g. johndoe" value="{{data[7]}}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Twitter Handle <span class="bi bi-twitter"></span></label>
                            <div class="control">
                                <input id="twt" class="input" type="text" placeholder="E.g. johndoe" value="{{data[8]}}">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Github Username <span class="bi bi-github"></span></label>
                            <div class="control">
                                <input id="gthb" class="input" type="text" placeholder="E.g. JohnDoe" value="{{data[9]}}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Link to LinkedIn Profile <span class="bi bi-linkedin"></span></label>
                            <div class="control">
                                <input id="lnkdn" class="input" type="text" placeholder="E.g. https://www.linkedin.com/in/john-doe-12345678" value="{{data[10]}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 15px;"></div>
                <div class="buttons is-right">
                    <button id="submit-edit-profile" class="button is-danger one btn-round is-fixed-top" type="submit">Save changes</button>
                    <a id="close-edit-profile-modal" class="button is-info one btn-round is-fixed-top">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function previewImage() {
            var file = document.getElementById("file").files;
            if (file[0].size > 1048576){
                alert("The file you were trying to upload is more than the 1MB limit. Please resize the image or choose another one.");
                this.value = "";
            };
            if (file.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    document.getElementById("preview").setAttribute("src", event.target.result);
                };
                fileReader.readAsDataURL(file[0]);
            }
        }
        $(document).ready(function(){
            $(".imgcontain").mouseover(function() {
                $(this).children(".hoverdiv").show();
            });
            $(".imgcontain").mouseout(function() {
                $(this).children(".hoverdiv").hide();
            });
            $("#pfp-form").submit(function(event) {
                event.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: "/api/v1/{{session['id']}}/69/p",
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (response) {
                        console.log(response);
                        if (response == "OK") {
                            location.reload();
                        } else {
                            alert("An error occured while trying to update your profile picture. Please try again later.");
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
            $("#submit-edit-profile").click(function(event) {
                $(this).addClass("is-loading");
                var uname = $('#uname').val();
                var bio = $('#bio').val();
                var insta = $('#insta').val();
                var twt = $('#twt').val();
                var gthb = $('#gthb').val();
                var lnkdn = $('#lnkdn').val();
                if (uname.length > 0 && uname.length <= 16) {
                    $.ajax({
                        url: "/api/v1/{{session['id']}}/69/ed-p",
                        type: 'POST',
                        data: {
                            lmao: uname,
                            what: bio,
                            are: insta,
                            you: twt,
                            looking: gthb,
                            at: lnkdn
                        },
                        success: function (response) {
                            console.log(response);
                            // get response code
                            if (response == "OK") {
                                window.location.href = "/profile/" + uname;
                            } else if (response == "Username already taken") {
                                alert("That username has already been taken. Please choose another one.");
                            } else {
                                alert("An error occured while trying to update your profile. Please try again later.");
                            }
                        }
                    });
                } else {
                    alert("You can't have a blank username.");
                }
                $(this).removeClass("is-loading");
            });
        });

        // open pfp modal
        $('#open-pfp-modal').on('click', function(e) {
            e.preventDefault();
            $('#pfp-modal').addClass('is-active');
        });

        // close pfp modal
        $('#close-pfp-modal').on('click', function(e) {
            e.preventDefault();
            $('#pfp-modal').removeClass('is-active');
        });

        // open edit profile modal
        $('#open-edit-profile-modal').on('click', function(e) {
            e.preventDefault();
            $('#edit-profile-modal').addClass('is-active');
        });

        // close edit profile modal
        $('#close-edit-profile-modal').on('click', function(e) {
            e.preventDefault();
            $('#edit-profile-modal').removeClass('is-active');
        });

        // open settings modal
        $('#open-settings-modal').on('click', function(e) {
            e.preventDefault();
            $('#settings-modal').addClass('is-active');
        });

        // close settings modal
        $('#close-settings-modal').on('click', function(e) {
            e.preventDefault();
            $('#settings-modal').removeClass('is-active');
        });
    </script>
{% endblock %}