{% extends 'base.html' %}

{% block head %}
    <title>@{{data[1]}}'s Profile</title>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <style>
        .hoverdiv{
            position: absolute;
            z-index: 1;
            display: none;
            top: 0px;
            left: 0px;
            text-align: center;
            font-size: 24px;
            height: 64px;
            width: 100%;
            border-radius: 15px;
            background-color: gainsboro;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if session['id'] %}
                                    {% if session['uname'] == data[1] %}
                                        <div class="imgcontain">
                                            <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                            <div class="hoverdiv">
                                                <div style="padding-top: 16px;">
                                                    <strong><a href="#"><span class="bi bi-pencil"></span></a></strong>
                                                </div>
                                            </div>
                                        </div><br />
                                    {% else %}
                                        <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                    {% endif %}
                                {% else %}
                                    <img src="{{data[2]}}" class="is-sway" alt="{{data[1]}}'s Profile Picture">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content" style="overflow: hidden;">
                            <div class="content">
                                <p class="par title is-4">
                                    <a href="/profile/{{data[1]}}">@{{data[1]}}
                                    {% if data[3] == 1 %}
                                        <span class="bi bi-patch-check is-verified" style="font-size: 18px !important;"></span>
                                    {% endif %}
                                    {% if data[4] == 1 %}
                                        <span class="modtext">[mod]</span>
                                    {% endif %}</a>
                                </p>
                            </div>
                            <div class="columns">
                                <div class="column">
                                    <div class="columns is-mobile">
                                        <div class="column is-1">
                                            <a href="#"><span class="bi bi-instagram"></span></a>
                                        </div>
                                        <div class="column is-1">
                                            <a href="#"><span class="bi bi-twitter"></span></a>
                                        </div>
                                        <div class="column is-1">
                                            <a href="#"><span class="bi bi-github"></span></a>
                                        </div>
                                        <div class="column is-1">
                                            <a href="#"><span class="bi bi-linkedin"></span></a>
                                        </div>
                                    </div>
                                    <p>
                                        <strong>Bio:</strong> Fullstack Developer
                                    </p>
                                </div>
                                <div class="column">
                                    <p>
                                        {% if data[3] == 1 %}
                                            This account is <a href="#" style="text-decoration: underline;">verified</a> <span class="bi bi-patch-check is-verified"></span><br />
                                        {% endif %} 
                                        {% if data[4] == 1 %}
                                            This is a <span class="modtext"><a href="#"style="text-decoration: underline; color: #fc0547;">[moderator]</a></span> account.<br />
                                        {% endif %}
                                        {{data[1]}} has made {{stats[0][0]}} post(s).<br />
                                        <strong>Joined:</strong> {{data[5]|string}}.
                                    </p>
                                </div>
                            </div>
                            {% if session['id'] %}
                                {% if session['uname'] == data[1] %}
                                    <hr />
                                    <div class="columns">
                                        <div class="column">
                                            <a href="#">Edit profile <span class="bi bi-pencil" style="font-size: 13px;"></span></a><br />
                                            <small style="font-size:11px;">Your profile and changes will be visible to everyone.</small>
                                        </div>
                                        <div class="column">
                                            <a href="#">Settings <span class="bi bi-gear" style="font-size: 13px;"></span></a><br />
                                            <small style="font-size:11px;">Review the settings to your account here.</small>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </article>
                    <div style="padding-top: 25px;"></div>
                </div>

                
            </div>
            <div class="column"></div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".imgcontain").mouseover(function() {
                $(this).children(".hoverdiv").show();
            });
            $(".imgcontain").mouseout(function() {
                $(this).children(".hoverdiv").hide();
            });
        });
    </script>
{% endblock %}