{% extends 'base.html' %}

{% block head %}
    <title>Forum</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-thirds">
            {% if session.token %}
                <h1 class="title">Hi, {{session.uname}}!</h1>
            {% else %}
                <h1 class="title">Forum</h1>
            {% endif %}
            <div class="notification is-info btn-round2">
                <button class="delete"></button>
                <strong>Announcement</strong> <span class="bi bi-broadcast"></span>
                <p>Since this is a demo, you can't actually post anything. But you can still view the posts.</p>
            </div>
            <div class="box round main has-text-white">
                <img src="https://picsum.photos/800/300/?random" class="box-img" alt="Random image">
                <h1 class="title box-mb">Hackers work in the <span style="text-decoration:underline;">dark</span>.</h1>
                <p class="has-text-white box-mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                <a href="#" class="button is-success one btn-round">Register</a>
            </div>
            <div style="background-color: #0c2539 !important;" class="box round has-text-white has-text-centered">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Wikipedia-banner-ru-468x60.png">
                <span style="display: block;font-size: 11px;">Advertisement</span>
            </div>
            <div style="padding: 25px;"></div>
            <h1 class="title"><span class="bi bi-chat-text default-icon"></span> Discussions</h1>
            <div class="box round main has-text-white">
                <h1 class="title box-mb">Hackers work in the <span style="text-decoration:underline;">dark</span>.</h1>
                <p class="has-text-white box-mb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                <a href="#" class="button is-success one btn-round">Register</a>
            </div>
        </div>
        <div class="column auto">
            <h1 class="title"><span class="bi bi-clock-history default-icon"></span> Latest posts</h1>
            {% for post in data %}
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{post[3]}}" class="is-sway" alt="{{post[0]}}">
                        </figure>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p class="par title is-4">{{limit_char(post[5])}}</p>
                            <span><small>By <a href="#">@{{post[0]}}
                                {% if post[1] == 1 %}
                                    <span class="bi bi-patch-check is-verified"></span>
                                {% endif %}
                                {% if post[2] == 1 %}
                                    <span class="modtext">[mod]</span>
                                {% endif %}
                            </a><span id="time"> - {{get_post_time(post[6])}}</span></small></span>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="bi bi-share"></span>
                                </a>
                                <a class="level-item">
                                    <span class="bi bi-hand-thumbs-up"></span>
                                </a>
                                <a href="/forum/{{post[4]}}/{{post[5].replace(' ', '-')}}" class="level-item">
                                    <span class="bi bi-box-arrow-in-right"></span>
                                </a>
                            </div>
                        </nav>
                        </div>
                    </article>
                </div>
            {% endfor %}
            <a href="/forum/latest" class="button is-info is-fullwidth one btn-round">See all posts</a>
        </div>
    </div>
{% endblock %}