{% extends 'base.html' %}

{% block head %}
    <title>Forum</title>
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-two-thirds">
            {% if session.token %}
                <h1 class="title"><span class="bi bi-clock-history default-icon"></span> Latest posts</h1>
            {% else %}
                <h1 class="title">Forum</h1>
            {% endif %}
            <div class="notification is-info btn-round2">
                <button class="delete"></button>
                <strong>Announcement</strong> <span class="bi bi-broadcast"></span>
                <p>Since this is a demo, you can't actually post anything. But you can still view the posts.</p>
            </div>
            {% for post in data %}
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="{{post[3]}}" class="is-sway" alt="{{post[0]}}">
                            </figure>
                            </div>
                            <div class="media-content">
                            <div class="content">
                                <p class="par title is-4"><a href="/forum/{{post[4]}}/{{post[5].replace(' ', '-')}}">{{post[5]}}</a></p>
                                <p>
                                    {% if post[6]|length > 500 %}
                                        {{ post[6][:500] }}
                                        <span class="is-hidden-mobile">. . .</span>
                                        <a href="/forum/{{post[4]}}/{{post[5].replace(' ', '-')}}">Read more</a>
                                    {% else %}
                                        {{post[6]}}
                                    {% endif %}
                                <span style="display: block;"><small>By <a href="/profile/{{post[0]}}">@{{post[0]}}
                                    {% if post[1] == 1 %}
                                        <span class="bi bi-patch-check is-verified"></span>
                                    {% endif %}
                                    {% if post[2] == 1 %}
                                        <span class="modtext">[mod]</span>
                                    {% endif %}
                                </a><span id="time"> - {{get_post_time(post[7])}}</span></small></span>
                            </div></p>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
        <div class="column auto">
            <h1 class="title"><span class="bi bi-funnel default-icon"></span> Filter results</h1>
            <div class="box round main has-text-white">
                <form action="/post-content" class="has-text-white" method = "POST">
                    <div class="field">
                        <label class="label has-text-white">Category</label>
                        <div class="control">
                            <div class="select">
                            <select>
                                <option>General</option>
                                <option>With options</option>
                                <option>With options</option>
                                <option>With options</option>
                                <option>With options</option>
                                <option>With options</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-white">Title</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" name="title" placeholder="The title of your post" minlength="6" maxlength="120" required>
                        </div>
                    </div>
                    <div style="padding: 6px;"></div>
                    <a href="#" class="button is-info is-fullwidth one btn-round" type="submit">Filter</a>
                </form>
            </div>
            <div style="background-color: #0c2539 !important;" class="box round has-text-white has-text-centered">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Wikipedia-banner-ru-468x60.png">
                <span style="display: block;font-size: 11px;">Advertisement</span>
            </div>
        </div>
    </div>
{% endblock %}