{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-fifths">
                <h1 class="title">Login to your account</h1>
                {% if msg %}
                    {% if type %}
                        <div class="notification is-{{type}} round">
                            <button class="delete"></button>
                            {{ msg|safe }}
                        </div>
                    {% else %}
                    <div class="notification is-danger round">
                        <button class="delete"></button>
                        {{ msg|safe }}
                    </div>
                    {% endif %}
                {% endif %}
                <form action="/authlog?ref={{ref}}" class="has-text-white" method = "POST">
                    <div class="field">
                        <label class="label has-text-white">Email/Username</label>
                        <div class="control">
                            <input class="input is-rounded" type="text" name="unem" placeholder="Email or Username" minlength="4" maxlength="320" title="Email address or Lower case letters and/or numbers" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-white">Password</label>
                        <div class="control">
                            <input class="input is-rounded" type="password" name="pwd" placeholder="Password" title="Password with minimal length of 6 characters." minlength="6" required>
                        </div>
                    </div>
                    <a href="#">Forgot password?</a>
                    <div style="padding: 6px;"></div>
                    <button class="button is-pulled-right is-link btn-round" type="submit">Login</button>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}