{% extends 'base.html' %}

{% block head %}
    <title>Post</title>
    <script src="https://unpkg.com/bulma-toast"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}

{% block body %}
{% set count = namespace(value=0) %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <div class="box round">
                    <article class="media">
                        <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                        </figure>
                        </div>
                        <div class="media-content">
                        <div class="content">
                            <p class="par title is-4">{{data[0][5]}}</p>
                            <span>
                                <small>
                                    By <a href="/profile/{{data[0][0]}}">@{{data[0][0]}}
                                    {% if data[0][1] == 1 %}
                                        <span class="bi bi-patch-check is-verified"></span>
                                    {% endif %}
                                    {% if data[0][2] == 1 %}
                                        <span class="modtext">[mod]</span>
                                    {% endif %}</a>
                                    <span id="time"> - {{get_post_time(data[0][7])}}</span>
                                    in <a href="#">Tools and resources</a>
                                </small>
                            </span>
                        </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" aria-label="share">
                                        <span onclick="get_url()" class="bi bi-share"></span>
                                    </a>
                                    <a class="level-item" aria-label="comment">
                                        <span id="comms-0" class="bi bi-chat">&nbsp;{{data[3][0]}}</span>
                                    </a>
                                    <a class="level-item" aria-label="like">
                                        {% if session['id'] %}
                                            {% if data[2][0]|int == 1 %}
                                                <span id="like-0" class="bi bi-hand-thumbs-up-fill">&nbsp;{{data[1][0]}}</span>
                                            {% else %}
                                                <span id="like-0" class="bi bi-hand-thumbs-up">&nbsp;{{data[1][0]}}</span>
                                            {% endif %}
                                        {% else %}
                                            <span onclick="alert('Gotta login to do that.');" class="bi bi-hand-thumbs-up">&nbsp;{{data[1][0]}}</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="level-right">
                                    {% if session['id'] %}
                                        {% if session['uname'] == data[0][0] %}
                                            <a id="open-delete-modal" class="level-item" aria-label="delete" data-target="delete-modal">
                                                <span class="bi bi-trash" style="color:red;"></span>
                                            </a>
                                            <a class="level-item" aria-label="settings">
                                                <span class="bi bi-pencil-square"></span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </nav>
                            <p>
                                {% for code in data[0][6].split('[code]') %}
                                    {% if loop.index > 1 %}
                                        <pre class="prettyprint prefield">{{code.split('[/code]')[0]}}</pre>
                                        {{code.split('[/code]')[1]}}
                                    {% else %}
                                        {{code|nl2br}}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </article>
                    <div style="padding-top: 25px;"></div>
                </div>

                <div id="comms-1" class="box round">
                    <p id="comms-num" class="par title is-4"><span class="bi bi-chat"></span>&nbsp;{{data[3][0]}} Comment(s)</p>
                    <div style="padding-top: 15px;"></div>
                    <div id="comment-box">
                        
                        {% for comment in comments %}
                            {% set count.value = count.value + 1 %}
                            <article id="{{count.value}}" class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <img src="{{comment[3]}}" class="is-sway" alt="{{comment[0]}}">
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="/profile/{{comment[0]}}">{{comment[0]}}
                                            {% if comment[1] == 1 %}
                                                <span class="bi bi-patch-check is-verified"></span>
                                            {% endif %}
                                            {% if comment[2] == 1 %}
                                                <span class="modtext">[mod]</span>
                                            {% endif %}</a>
                                            <span> · {{get_post_time(comment[6])}}</span>
                                            <br>
                                            {{comment[5]}}
                                            <br>
                                            <small>
                                                <a>Reply</a> · 
                                                <a aria-label="replies">See replies&nbsp;<span class="bi bi-chevron-down"></span></a>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}

                        <!--<article class="media">
                            <figure class="media-left">
                              <p class="image is-64x64">
                                <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][3]}}">
                              </p>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                <p>
                                    <strong>Barbara Middleton</strong>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                                    <br>
                                    <small>
                                        <a href="#" aria-label="like"><span class="bi bi-hand-thumbs-up"></span>&nbsp;2192</a> · 
                                        <a>Reply</a>
                                        <span> · 2yr</span>
                                    </small>
                                </p>
                              </div>
                          
                              <article class="media">
                                <figure class="media-left">
                                  <p class="image is-48x48">
                                    <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                                  </p>
                                </figure>
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                        <strong>Sean Brown</strong>
                                        <small> · 16 d</small>
                                        <br>Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.<br>
                                    </p>
                                  </div>
                              </article>
                          
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <img src="{{data[0][3]}}" class="is-sway" alt="{{data[0][0]}}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Kayli Eunice </strong>
                                                <small> · 3 hrs</small>
                                                <br>Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.<br>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </article>-->
                    </div>
                    {% if data[3][0]|int > 6 %}
                        <div style="padding-top: 15px;"></div>
                        <div class="has-text-centered">
                            <button id="load-more" class="button is-light is-rounded">Load more comments</button>
                        </div>
                    {% endif %}
                    <div style="padding-top: 25px;"></div>
                    {% if session.token %}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="{{session.ppic}}" class="is-sway" alt="{{data[0][0]}}">
                                </p>
                            </figure>
                            <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea btn-round2" name="content" placeholder="Comment as @{{session.uname}}" rows="4" minlength="1" maxlength="600" required></textarea>
                                </p>
                            </div>
                            </div>
                        </article>
                        <div style="padding-top: 25px;"></div>
                        <span id="reply-0" class="button is-info one btn-round is-pulled-right is-fixed-top"><span class="bi bi-reply"></span>&nbsp;Reply</span>
                    {% else %}
                        <article class="media">
                            <figure class="media-content">
                                <div class="field">
                                    <p class="is-pulled-right">Login to comment</p>
                                </div>
                            </figure>
                        </article>
                    {% endif %}
                </div>
                
            </div>
            <div class="column"></div>
        </div>
    </div>

    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box round">
            <p><strong>Are you sure you want to delete this post?</strong></p>
            <small>This action cannot be undone.</small>
            <div style="padding-top: 25px;"></div>
            <div class="buttons is-right">
                <a id="delete-post" class="button is-danger one btn-round is-fixed-top">Yes, delete it</a>
                <a id="close-delete-modal" class="button is-info one btn-round is-fixed-top">No, keep it</a>
            </div>
            </div>
        </div>
    </div>

    <script>
        let comment_count = {{count.value}};
        function change_num_of_likes(add_or_remove) {
            var likes = parseInt($('#like-0').text());
            if (add_or_remove == "add") {
                $('#like-0').html("&nbsp;" + (likes + 1));
            } else {
                $('#like-0').html("&nbsp;" + (likes - 1));
            }
        }
        var dummy = document.createElement('input'),
        text = window.location.href;
        function get_url() {
            try {
                document.body.appendChild(dummy);
                dummy.value = text;
                dummy.select();
                document.execCommand('copy');
                document.body.removeChild(dummy);
                bulmaToast.toast({
                    message: 'Link copied to clipboard',
                    type: 'is-info',
                    position: 'bottom-left',
                    duration: 3000,
                });
            } catch (err) {
                bulmaToast.toast({
                    message: 'Could not copy link to clipboard',
                    type: 'is-danger',
                    position: 'bottom-left',
                    duration: 3000,
                });
            }
        }
        $(document).ready(function() {
            var not_filled = "bi-hand-thumbs-up";
            var fill = "bi-hand-thumbs-up-fill";
            $('#like-0').on('click', function(e) {
                if ($(this).hasClass(fill)) {
                    $(this).removeClass(fill);
                    $(this).addClass(not_filled);
                    change_num_of_likes();
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/2/u',
                        type: 'POST',
                    });
                } else {
                    $(this).removeClass(not_filled);
                    $(this).addClass(fill);
                    change_num_of_likes("add");
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/2/l',
                        type: 'POST',
                    });
                }
            });
            $('#reply-0').on('click', function(e) {
                e.preventDefault();
                var content = $('textarea[name="content"]').val();
                if (content.length > 0) {
                    $.ajax({
                        url: '/api/v1/{{data[0][4]}}/3/c',
                        type: 'POST',
                        data: {
                            'content': content
                        },
                        success: function(data) {
                            if (data == "OK") {
                                $('textarea[name="content"]').val("");
                                $('#comms-0').click();
                                var comment = `
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-64x64">
                                            <img src="{{session.ppic}}" class="is-sway" alt="{{session.uname}}">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <a href="/profile/{{session.uname}}}">{{session.uname}}
                                                {% if session.verified %}
                                                    <span class="bi bi-patch-check is-verified"></span>
                                                {% endif %}
                                                {% if session.mod %}
                                                    <span class="modtext">[mod]</span>
                                                {% endif %}</a>
                                                <span> · Just Now</span>
                                                <br>
                                                ` + content + `
                                                <br>
                                                <small>
                                                    <a>Reply</a> · 
                                                    <a aria-label="replies">See replies&nbsp;<span class="bi bi-chevron-down"></span></a>
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                                `;
                                
                                $('#comment-box').prepend(comment);
                                var num_of_comms = parseInt($('#comms-num').text());
                                $('#comms-num').html("<span class=\"bi bi-chat\"></span>&nbsp;" + (num_of_comms + 1) + " Comment(s)");
                                $('#comms-0').html("&nbsp;" + (num_of_comms + 1));
                            } else {
                                alert("Couldn't post comment. Please try again later.");
                            }
                        }
                    });
                }
            });
            $('#load-more').on('click', function(e) {
                e.preventDefault();
                $(this).addClass('is-loading');
                $.ajax({
                    url: '/api/v1/{{data[0][4]}}/4/c-c',
                    type: 'POST',
                    data: {
                        'last_id': comment_count
                    },
                    success: function(data) {
                        if (data != "Error") {
                            if (data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    var comment = `
                                    <article id="` + data[i][4] + `" class="media">
                                        <figure class="media-left">
                                            <p class="image is-64x64">
                                                <img src="` + data[i][3] + `" class="is-sway" alt="` + data[i][0] + `">
                                            </p>
                                        </figure>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a href="/profile/` + data[i][0] + `">` + data[i][0] + `
                                                    ` + (data[i][1] == "True" ? `<span class="bi bi-patch-check is-verified"></span>` : "") + `
                                                    ` + (data[i][2] == "True" ? `<span class="modtext">[mod]</span>` : "") + `</a>
                                                    <span> · ` + data[i][6] + `</span>
                                                    <br>
                                                    ` + data[i][5] + `
                                                    <br>
                                                    <small>
                                                        <a>Reply</a> · 
                                                        <a aria-label="replies">See replies&nbsp;<span class="bi bi-chevron-down"></span></a>
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                    `;
                                    $('#comment-box').append(comment);
                                }
                            } else {
                                $('#load-more').html("No more comments");
                                $('#load-more').attr('disabled', true);
                            }
                        }
                        comment_count += data.length;
                    }
                });
                $(this).removeClass('is-loading');
            });
            
            // smooth scroll to anchor
            $('#comms-0').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $('#comms-1').offset().top
                }, 800);
            });

            // open modal
            $('#open-delete-modal').on('click', function(e) {
                e.preventDefault();
                $('#delete-modal').addClass('is-active');
            });

            // close modal
            $('#close-delete-modal').on('click', function(e) {
                e.preventDefault();
                $('#delete-modal').removeClass('is-active');
            });

            // delete post
            $('#delete-post').on('click', function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/api/v1/{{data[0][4]}}/1/d',
                    type: 'POST',
                    data: {
                        'bG9va2luZyB0byB3b3JrIHdpdGggdXM/': '🤔'
                    },
                    success: function(data) {
                        if (data == "OK") {
                            window.location.href = "/forum";
                        } else {
                            alert("Couldn't delete post. Please try again later.");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}